.aboutMeText {
    padding: 50px;
    margin-right: auto;
    margin-left: auto;
    letter-spacing: 2px;
}

.aboutMeHeader {
    font-family: var(--headingFont);
    color: var(--fontColorGrey);
    font-size: 80px;
}

.aboutMeMain {
    display: flex;
    text-align: justify;
    position: static;
    padding: 0px 400px 50px 400px;
    font-size: 20px;
    letter-spacing: 1px;
    margin-left: auto;
    margin-right: auto;
}