.aboutTitle {
    font-family: var(--headingFont);
    color: var(--fontColorGrey);
    font-size: 5em;
    display: flex;
    justify-content: center;
}

.aboutMeMain {
    font-size: 1.25em;
}

@media (max-width: 576px) {
    .aboutMeMain {
        font-size: 15px;
    }
}