footer {
    background-color: var(--fontColorGrey);
    text-align: center;
    height: 25vh;
    font-size: 14px;
    letter-spacing: 2px;
}

#footerCopy {
    padding-top: 10px;
    color: white;
}

.icons {
    margin-top: 60px;
    height: 30px;
    width: 30px;
}