@import "about.css";
@import "body.css";
@import "contact.css";
@import "footer.css";
@import "parallax.css";
@import "nav.css";
@import "project.css";
@import "variables.css";
@import "resume.css";

html {
    scroll-behavior: smooth;
  }
  
  body {
      font-family: "Open Sans", sans-serif;
      max-width: 100%;
      overflow-x: hidden;
    }
    