@import "about.css";
@import "body.css";
@import "contact.css";
@import "footer.css";
@import "parallax.css";
@import "nav.css";
@import "project.css";
@import "variables.css";
@import "resume.css";

html {
    scroll-behavior: smooth;
  }
  
  body {
      max-width: 100%;
      overflow-x: hidden;
    }
    
    @media only screen and (max-width : 768px) {
      .body {
        height: auto;
        width: 100vw;
      }
    }
    /* @media (max-width: 576px) {
    .parallax {
         
      }
  }
  
  @media (max-width: 320px) {
      .title-position {
        
      }
  }
   */