.navbar {
    position: fixed;
    overflow: hidden;
    width: 100%;
    z-index: 1;
}

#navOver {
    margin-left: 70%;
}

.fa-bars {
    color: #ffffff;
}

nav ul li{
    display: inline-block;
    padding: 30px 30px;
}

nav a { 
    text-decoration: none; 
    font-size: 11px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
}

nav.purple {
    background-color: var(--fontColorGrey);
    animation-delay: 3s;
    z-index: 6;
}

#logo {
    color: #ffffff;
    padding-left: 30px;
    font-size: 11px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
}

@media (max-width: 768px) {

    nav ul li{
       padding: 10px 30px;
       overflow: hidden;
    }
 
 }

 /* @media (max-width : 768px) {


 @media (max-width: 320px) {
  */
