.parallax {
    background: url("../assets/blue-hydrengeas2.jpg") fixed;
    background-size: cover;
    color: #484848;
    height: 100vh;
    box-shadow: 1px 11px 30px var(--fontColorGrey);
  }
  
  .paraContainer {
    padding-top: 25%;
    text-align: center;
  }

  .title-position {
    height: 65vh;
}

  .paraHeader {
    font-family: var(--headingFont), SignPainter;
    font-size: 110px;
    color: #ffffff;
  }

  .paraText {
    color: #ffffff;
    font-weight: bold;
    letter-spacing: 10px;
  }

@media only screen and (max-width : 768px) {
  .parallax{
   background-position: center center;
  }
}