@import url('https://fonts.googleapis.com/css?family=Playfair+Display:500&display=swap');


.projectsTitle{
  font-family: var(--headingFont);
  font-size: 80px;
  color: var(--fontColorGrey);
  margin-top: 5%;
}

.card-deck .card  {
  display: flex;
  flex-wrap: wrap;
  margin-right: 5em !important;
}

.card-body {
  max-width: 500px;
}


.card-title {
  color: #6c757d;
}

.card-text {
  color: #6c757d;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
}

.btn-secondary{
  color: #6c757d;
  background-color: white;
  border: 2px solid #6c757d;
}

.btn:hover {
  color: white;
}

.project-link {
  color: #6c757d
}

.project-link:hover{
  color: white;
  text-decoration: none;
}

@media (max-width: 576px) {
  .card-body{
      min-width: 382px;
  }
  .card-deck .card  {
      margin-right: 0;
  } 

}

@media (max-width: 414px) {
  .card{
      min-width: 382px;
  }
  .card-deck .card  {
      margin-right: 0;
  } 
}

/* IPHONE X */
@media (max-width: 375px) {
  .card{
      min-width: 343px;
  }
  .card-deck .card  {
      margin-right: 0;
  } 
}

@media (max-width: 360px) {
  .card{
      min-width: 329px;
  }
  .card-deck .card  {
      margin-right: 0;
  } 
}