#resumeDescript{
    color: #484848;
    letter-spacing: 2px;
    font-size: 1em;
    text-align: center;
}

#resumeLink {
    text-decoration: none;
}

.resumeBttn {
    display: block;
    margin: 0 auto;
    border: none;
    background-color: var(--fontColorGrey);
    color: white;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 40px 10px 40px;
    border-radius: 5px;
    letter-spacing: 2px;
}
