#resumeDescript{
    color: #484848;
    letter-spacing: 2px;
    font-size: 1em;
    text-align: center;
}

.resumeText{
        color: #484848;
}

.resumeBttn {
    border: none;
    background-color: var(--fontColorGrey);
    color: white;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 40px 10px 40px;
    border-radius: 5px;
    letter-spacing: 2px;
}

.resumeBttn {
    margin-left: 45%;
}

@media (max-width: 576px) {
    .resumeBttn {
        margin-left: 34%; /* this looks more centered on mobile */
    }
}